<% @hide_footer_frames = true %>
<% @page_title = "Signing into #{Account.sole.name}" %>

<% content_for :header do %>
  <nav>
    <div class="fizzy-header-logo center flex-inline align-center txt-normal">
      <%= inline_svg "fizzy-logo" %>
      <strong class="txt-medium overflow-ellipsis margin-none">Fizzy</strong>
    </div>
  </nav>
<% end %>

<div
  class="panel shadow center margin-block-double flex flex-column gap-half"
  style="--panel-size: 42ch; view-transition-name: sign-in-panel; --popup-icon-size: 24px; --popup-item-padding-inline: 0.5rem;"
>
  <h1 class="txt-x-large font-weight-black margin-none"><%= @page_title %></h1>

  <%= form_with url: session_start_path, method: :post, data: { controller: "auto-submit" } do |form| %>
    <%= form.button "Continue", type: "submit", class: "btn btn-primary" %>
  <% end %>
</div>

<% content_for :footer do %>
  <div class="txt-align-center center margin-block-double txt-subtle">
    Fizzy&trade; Beta. <%= mail_to "support@37signals.com", "Need help?", class: "txt-link" %>
  </div>
<% end %>
