<% @page_title = "Choose an account" %>

<% content_for :header do %>
  <nav>
    <div class="fizzy-header-logo center flex-inline align-center txt-normal">
      <%= inline_svg "fizzy-logo" %>
      <strong class="txt-medium overflow-ellipsis margin-none">Fizzy</strong>
    </div>
  </nav>
<% end %>

<% cache [ Current.identity_token, @tenants ] do %>
  <div
    class="panel shadow center margin-block-double flex flex-column gap-half"
    style="--panel-size: 42ch; view-transition-name: sign-in-panel; --popup-icon-size: 24px; --popup-item-padding-inline: 0.5rem;"
  >
    <% if @tenants.present? %>
      <h1 class="txt-x-large font-weight-black margin-none">
        Choose a Fizzy account
      </h1>
      <menu class="popup__list pad border-radius border">
        <% @tenants.each do |tenant| %>
          <li class="popup__item txt-medium">
            <%= icon_tag "logo-color", class: "popup__icon" %>
            <%= link_to new_session_start_url(script_name: "/#{tenant.id}"), class: "btn overflow-ellipsis fill-transparent popup__btn" do %>
              <strong><%= tenant.name %></strong>
            <% end %>
          </li>
        <% end %>
      </menu>
    <% else %>
      <h1 class="txt-x-large font-weight-black margin-none">Hmm...</h1>
      <p class="margin-none-block-start">You don’t have any Fizzy accounts.</p>
    <% end %>

    <% if defined?(saas) %>
      <div class="margin-block-start">
        <%= link_to saas.new_signup_completion_path, class: "btn center txt-small" do %>
          <%= icon_tag "add" %>
          <span>Create a Fizzy account</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :footer do %>
  <div class="txt-align-center center margin-block-double txt-subtle">
    Fizzy&trade; Beta. <%= mail_to "support@37signals.com", "Need help?", class: "txt-link" %>
  </div>
<% end %>
